# folders
checkpoint
test_result

# files
*.pyc
*.swp
*.tar
sbatch*

# data
pretrain*

# virtualenv
.virtual

# result
result*

# tmp file
pretrain.tar

# mac cache
.DS_Store

# editor cache
.idea
.vscode
.venv
